<div class="card mb-4 rounded-3 shadow-sm">
    <div [ngClass]="{'text-bg-primary border-primary' : data.heading.highlight}" class="card-header py-3">
        <h4 class="my-0 fw-normal">{{data.heading.text}}</h4>
    </div>
    <div class="card-body">
        <h1 class="card-title pricing-card-title">
            $0<small class="text-body-secondary fw-light">/mo</small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
            <li *ngFor="let option of data.features">{{option}}</li>
        </ul>
        <button [ngClass]="{'btn-outline-primary' : !data.button.highlight ,'btn-primary' : data.button.highlight }" class="w-100 btn btn-lg">Sign up for free</button>
    </div>
</div>