<div class="p-3 pb-md-4 mx-auto text-center" style="max-width: 700px;">
    <h1 class="display-4 fw-normal text-body-emphasis">
        Pricing
    </h1>
    <p class="fs-5 text-body-secondary">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
</div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div *ngFor="let card of cards" class="col">
        <b-card  [data]='card'></b-card>
    </div>

</div>